@font-face {font-family:Electrolize; src: url('../font/Electrolize.ttf');}

*{outline:none;}
input::-moz-focus-inner { border: 0; }

 body{
	background-color:#eeeef2;
	background-repeat:no-repeat;	
	background-image:
		-moz-radial-gradient(center center, rgba(0,0,0,0.03) 50%, transparent 50%),
		-moz-radial-gradient(center center, rgba(0,0,100,0.03) 50%, transparent 50%),
		-moz-radial-gradient(center center, rgba(0,0,0,0.03) 50%, transparent 50%);
	background-position:
		0px 0px, 200px 200px, 700px -400px;
	background-size:
		500px 500px, 350px 350px, 700px 700px;
	font-family:'Electrolize';	 
 }

h1{
	color:#000;
	text-shadow:0 1px 0px rgba(255,255,255,1);
}

footer {
   color:#888;
   bottom:0;
   margin:0;
   padding:0;
   width:98%;
   height:70px; 
   text-align:center;
   font-size:12px;
}

.drug_item{
	background:rgba(150,150,150,1);
	padding:5px;
	display:inline-block;
	color:white;
	margin:3px;
	white-space:nowrap; 
	max-width:115px;
	overflow:hidden;
	text-overflow:ellipsis; 
}
li.drug_item > span:hover{
	color:rgba(200,200,200,1);	
}

.tooltip{
	font:12px Electrolize;
	padding:3px;
	box-shadow:none;
	border:1px solid #ddd;
	border-radius:3px;
}

li.drug_item > span{
	color:rgba(150,150,150,1);
	cursor:pointer;
	margin-right:5px;
	width:20px;
	display:inline-block;
	background-color:#fff;
	border-radius:3px;
	transition:color 150ms;
}

#wait_spinner{
	width:24px;
	height:24px;
	-webkit-animation:spinner 1s infinite linear;
  	-moz-animation:   spinner 1s infinite linear; 
  	-o-animation:     spinner 1s infinite linear; 
  	animation:        spinner 1s infinite linear;
	visibility:hidden;
}

@keyframes spinner {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* General */
.round{border-radius:3px;}

/* Specific */
#container{
	/* Container will center the page contents */
	margin:0 auto;
	margin-top:200px;	
	display:block;
	width:640px;
	min-width:695px;
	text-align: center;
}

input[type="text"]#searchbox{
	border:1px solid #9fc7d4;
	height:40px;
	font-family: 'Electrolize';
	font-size:14px;
	width:600px;
	padding:3px;
}
input[type="text"]#searchbox:hover{border:1px solid #38a5e3;}
input[type="text"]#searchbox:focus{
	border:1px solid #38a5e3;
	box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
}

input[type="submit"], input[type="button"]{
	height:40px;
	border:none;
	padding:3px 20px;
	color:white;
	font-family: 'Electrolize';
	font-size:14px;
	background: #3396ce;
	cursor:pointer;
}

input[type="submit"]:hover, input[type="button"]:hover{background: #38a5e3;}
input[type="submit"]:active, input[type="button"]:active{background: #2d84b5;}
input[type="submit"]:active, input[type="button"]:disabled{background: rgba(150,150,150,1); cursor:default}

/* Table Stuff */
table{
	border-collapse:collapse;
	width:100%;
}

th{
	background:#3396ce;
}

td, th{padding:5px 10px;}

th:first-child{border-radius:10px 0 0 0;}
th:last-child{border-radius:0 10px 0 0;}

tr:nth-child(odd){background:#ddd;}
tr:nth-child(even){background:white;}

td{
	text-align: center;
	white-space:nowrap; 
	max-width:115px;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.critical span{padding:2px; background:rgba(255,0,0,0.5);}
.significant span{padding:2px; background:rgba(255,165,0,0.5);}






